<main class="home-container">
    <mat-toolbar class="navbar" color="primary">
        <button mat-icon-button class="menu-icon" aria-label="Menu button">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Notes</span>
    </mat-toolbar>

    <mat-grid-list cols="4" rowHeight="2.13:1">
        <mat-grid-tile *ngFor="let note of notes">
            <app-note [title]="note.title"
                      [noteId]="note.noteId"
                      [description]="note.description">
            </app-note>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator [length]="notes.length"
                   [pageSize]="16"
                   aria-label="Select page">
    </mat-paginator>
</main>
