<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="push">
        <h1>Menu</h1>

        <mat-divider></mat-divider>

        <div class="button-column">
            <button (click)="changeToCreateNoteView()" class="menu-option" mat-fab extended color="primary">
                <mat-icon>add</mat-icon>
                New Note
            </button>

            <mat-divider></mat-divider>

            <button (click)="changeToHomeView()" class="menu-option home-button" mat-fab extended>
                <mat-icon>home</mat-icon>
                Home
            </button>

            <button (click)="changeToProfileView()" class="menu-option" mat-fab extended>
                <mat-icon>person</mat-icon>
                Profile
            </button>

            <mat-divider></mat-divider>

            <button class="menu-option" mat-fab extended>
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </div>
    </mat-drawer>

    <mat-toolbar class="navbar" color="primary">
        <button (click)="drawer.toggle()" aria-label="Menu button" class="menu-icon" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span>Notes</span>
    </mat-toolbar>

    <div *ngIf="currentView === HomeViews.NOTES">
        <app-notes></app-notes>
    </div>

    <div class="center-container" *ngIf="currentView === HomeViews.PROFILE">
        <app-profile></app-profile>
    </div>

    <div class="center-container" *ngIf="currentView === HomeViews.CREATE_NOTE">
        <app-create-note></app-create-note>
    </div>
</mat-drawer-container>
