.home-container {
    width: 100%;
    height: 100%;
    background-color: #313130;
    overflow-y: scroll;
    overflow-x: hidden;
}

mat-toolbar {
    width: 100%;
}

mat-grid-tile {
    background-color: darkcyan;
}
