<div class="or-divider">
    <span class="divider"></span>

    <span class="or-label">Or</span>

    <span class="divider"></span>
</div>

<div class="oauth-buttons">
    <button (click)="redirectToGoogleOauth()" class="login-button" color="accent" mat-raised-button type="button">
        <mat-icon svgIcon="google"></mat-icon>

        <span class="oauth-label">Sign In with Google</span>
    </button>

    <button (click)="redirectToGithubOauth()" class="login-button" mat-raised-button type="button">
        <mat-icon svgIcon="github"></mat-icon>

        <span class="oauth-label">Sign In with Github</span>
    </button>
</div>
