.note-container {
    width: 420px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.action-bar {
    display: flex;
    justify-content: space-between;
}

.note-description {
    text-align: justify;
}

mat-card-title {
    margin-bottom: 3px;
}
